body{
	overflow:hidden;
}

.style{
    font-size: 20px;
}

#container{
    background-color: #FFC0CB;
    margin: 0auto;
    position:relative;
	margin:5vh auto;
	width:1000px;
	height:500px;
	text-align: center
}

#canvas{
    background:url(../img/grid.jpg);
    margin: 0auto;
}

#contenedor{
	position:relative;
	margin:5vh auto;
	width:1000px;
	height:500px;
}

button{
	border: none;
}

#btnStart{
	background-image: url(../img/start_game.png);
	width: 216px;
	height: 50px;
}

#btnPause{
	background-image: url(../img/pause.png);
	width: 216px;
	height: 50px;
}

#btnStop{
	background-image: url(../img/quit.png);
	width: 216px;
	height: 50px;
	align-content: center;
}